aiohttp==3.9.4
async-timeout==4.0.3
attrs==23.2.0
chardet==5.2.0
click==8.1.7
coloredlogs==15.0.1
coverage==7.4.3
humanfriendly==10.0
idna==3.6
multidict==6.0.5
PyYAML==6.0.1
typing-extensions==4.10.0
verboselogs==1.7
yarl==1.9.4
